/* Default fonts */

@font-face {
    font-family: "MSS";
    src: url('./fonts/Urbanist/Urbanist-VariableFont_wght.ttf'),
         url('./fonts/Urbanist/Urbanist-Italic-VariableFont_wght.ttf')
}

@font-face {
    font-family: "MS";
    src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf'),
         url('./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: "BSS";
    src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "BS";
    src: url('./fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf'),
}

/* Added fonts */